body {
    margin: 0;
    padding: 0;
    background: #cdcdcd
}

.logo {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 70px;
    top: 30px;
    border-radius: 45%;
}

.pesquisa {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    padding: 10px;
    background: rgb(255, 255, 255);
    /*cor da balão*/
}

.pesquisa-botao {
    color: rgb(255, 255, 255);
    /*cor da lupa*/
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    background: rgb(0, 0, 0);
    /*cor do fundo da lupa*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.pesquisa-texto {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgba(8, 8, 8, 0.397);
    /*cor do texto*/
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 500px;
    /*tamanho da bara de texto*/
}

.Conta {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 1650px;
}

.Carrinho {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 1550px;
}

.barralogin {
    position: absolute;
    width: 350px;
    height: 478px;
    left: 760px;
    top: 200px;
    border-radius: 10px;
    background: rgb(255 255 255 / 27%);
    opacity: 0.8;
    box-shadow: 0px 0px 17px
}

.loginn {
    position: absolute;
    width: 294px;
    height: 40px;
    left: 557px;
    top: 431px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.632);
    opacity: 0.5;
    box-shadow: 0px 10px 10px;
}

.senhaa {
    position: absolute;
    width: 294px;
    height: 40px;
    left: 557px;
    top: 507px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.632);
    opacity: 0.5;
    box-shadow: 0px 10px 10px;
}

.CPF {
    position: absolute;
    width: 294px;
    height: 40px;
    left: 915px;
    top: 583px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.632);
    opacity: 0.5;
    box-shadow: 0px 10px 10px;
}

.criaremail {
    position: absolute;
    width: 294px;
    height: 40px;
    left: 915px;
    top: 430px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.632);
    opacity: 0.5;
    box-shadow: 0px 10px 10px;
}

.criarsenha {
    position: absolute;
    width: 294px;
    height: 40px;
    left: 915px;
    top: 506px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.632);
    opacity: 0.5;
    box-shadow: 0px 10px 10px;
}

.cadeado {
    position: absolute;
    width: 118px;
    height: 105px;
    left: 652px;
    top: 300px;
}

.pessoa {
    position: absolute;
    width: 116px;
    height: 100px;
    left: 1008px;
    top: 300px;
    border-radius: 90%;
}

.infemail {
    position: absolute;
    left: -447px;
    top: 285px;
    font-family: 'lemon milk';
}

.cpff {
    position: absolute;
    left: -447px;
    top: 448px;
    font-family: 'lemon milk';
}

.senhaaa {
    position: absolute;
    left: -447px;
    top: 370px;
    font-family: 'lemon milk';
}

.emaail {
    position: absolute;
    left: -830px;
    top: 285px;
    font-family: 'lemon milk';
}

.senhaj {
    position: absolute;
    left: -830px;
    top: 370px;
    font-family: 'lemon milk';
}

.logarse {
    position: absolute;
    width: 183px;
    height: 50px;
    left: 466px;
    top: 542px;
    border-radius: 25px;
}

.Logar {
    position: absolute;
    width: 183px;
    height: 50px;
    left: 684px;
    top: 575px;
    font-family: 'lemon milk';
}

.registrase {
    position: absolute;
    width: 202px;
    height: 50px;
    left: 827px;
    top: 613px;
    border-radius: 25px;
    background-color: rgba(255, 234, 0, 0.74);
}

.registro1 {
    position: absolute;
    width: 183px;
    height: 50px;
    left: 998px;
    top: 632px;
    font-family: 'lemon milk';
}

.FundoLogin {
    position: absolute;
    background-color: rgba(160, 159, 145, 0.74);
    height: 408px;
    width: 346px;
    left: 538px;
    top: 289px;
}
.FundoRegistro {
    position: absolute;
    background-color: rgba(160, 159, 145, 0.74);
    height: 408px;
    width: 346px;
    left: 892px;
    top: 289px;
}